/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */
	nav a {
		background: #839dc2;
		display: block;
		text-decoration: none;
		text-align: center;
		width: 250px;
	}
	nav a:hover {
		background: #c7d2e1;
		
		}
	
	nav ul {
		list-style:none;
		color: #4f5a6b;
		
		
		}
		
a {
	color: #4f5a6b;
	
	}
a:hover {
	
	}	
a:active {
	
	}


body {
	background: #192D7C;
}
article {
	text-align: center;
	margin: 5px;
	padding: 10px;
	padding-bottom:50px;
	background: #354BA5;
	font-family: monospace, monaco;
	color:white;
}

#container {

}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 20px;
	padding-bottom: 15px;
	font-family:'Copperplate Gothic';
	color: #96A397;
	
}
h2 {
	text-align: center;
	margin: 5px;
	padding: 10px;
	padding-bottom: 25px;
	font-family: 'Copperplate Gothic';
	font-size: 25px;
	color: #96A397;
}

footer {
	color: #96A397;
	padding:15px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:30px;
	font-family: fantasy, 'Copperplate Gothic';
	text-align:center;
		
}
header {
	position: relative;
	transition: transform 0.3s ease-in-out;
}



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for portrait tablets and large phone screens.  */
@media all and (min-width: 600px) {
	
	
	
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	body {
		background:
	}

	article {
		text-align: center;
		margin: 5px;
		padding: 10px;
		
	}

	#container {
	}

	h1 {
		text-align: left;
		margin: 5px;
		padding: 10px;
		padding-bottom: 35px;
		padding-top: 50px;
		color: #96A397;
	}

	h2 {
		text-align: left;
		margin: 5px;
		padding: 10px;
		padding-top: 20px;
		padding-bottom: 30px;
		color: #96A397;
	}
	
	
	
} /* closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 992px) {
	
	
	
	
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */



